.people {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  justify-content: center;
  align-items: center;
  gap: 44px 30px;
  overflow-x: hidden;
  transform: scale(1);
  transition: transform 1s ease-in-out 1s;

  @media (min-width: 500px) {
    --columns: 2;
  }

  @media (min-width: 750px) {
    --columns: 2;
  }

  @media (min-width: 1000px) {
    --columns: 4;
  }

  @media (min-width: 1500px) {
    --columns: 4;
  }

  &__person {
    position: relative;
    width: 200px;
    height: 231px;
    z-index: 0;

    &:hover {
      background-color: #EEEEEE;
      border-radius: 10px;
      transform: scale(1.2);
      transition: transform 1s ease-in-out;
      z-index: 1;
    }
  }

  &__photo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: border-radius 1s ease;
  }

  &__rank {
    position: absolute;
    top: 84px;
    right: 10px;
    width: 32px;
    height: 32px;
    color:  #8B0000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-style: 16px;
    line-height: 18.4px;
    font-weight: bold;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 20px;
    color: #2F4F4F;
    ;
  }

  &__extra {
    width: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 100%;
    transition: opacity 1s ease;
  }


  &__person:hover &__image {
    border-radius: 12%;
  }
  
  &__person:hover &__extra {
    opacity: 1;
  }

  &__person:not(:hover) {
    transform: scale(1);
    transition: transform 1s ease-in-out;
  }

  &__person:not(:hover) &__extra {
    opacity: 0;

  }
}
