.people {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  justify-content: center;
  align-items: center;
  gap: 44px 30px;
  overflow-x: hidden;

  @media (min-width: 500px) {
    --columns: 2;
  }

  @media (min-width: 750px) {
    --columns: 2;
  }

  @media (min-width: 1000px) {
    --columns: 4;
  }

  @media (min-width: 1500px) {
    --columns: 4;
  }
}

.people__person {
  width: 200px;
  height: 231px;
}

.people__photo {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.people__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.people__person:hover {
  transform: scale(1.1);
}

.people__person:hover .people__photo img {
  border-radius: 12%;
}

.rank {
  position: absolute;
  top: 84px;
  right: 10px;
  width: 32px;
  height: 32px;
  color:  #8B0000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-style: 16px;
  line-height: 18.4px;
  font-weight: bold;
}
.details {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  font-size: 20px;
  line-height: 23px;
  color: #2F4F4F;
  font-weight: bold;
}

.extra {
  text-align: center;
  position: absolute;
  display: none;
  top: 100%;
  font-size: 18px;
  line-height: 20.7px;
  color: #000000;
}
.people__person:hover .extra {
  display: block;
  text-align: center;
  transform: scale(1.1);
  }
 